{%  load staticfiles %}
<!DOCTYPE html>

<!--Student Name: Spencer Newburn
    Assignment: CS336, Assignment 4
    Date Created: 07/11/2018
    Description: This project is the start of Conference Website -->

<html lang = "en">
<head>
  <meta charset = "utf-8" />
  <meta name = "keywords"
        content = "conference, registration, preaching, seminar" />
  <meta name = "description"
        content = "The registration and informational website for a ministry conference" />
  <meta name = "author"
        content = " Spencer B. Newburn" />
  <meta name = "robots"
        content = "nofollow" />

  <title>Local Activities</title>

  <link href={% static "styles/webdefault.css" %} rel="stylesheet" type="text/css"/>
</head>


<body>

<header>
  {% include "navigation.html" %}
</header>

<main>
  <h1>Activities available during your free time</h1>
  <ul>
    <li class = "listElem">Moon Buggy Races</li>
    <h2>Test your driving skills in low gravity</h2>
    <li class = "listElem">Deep(ER) space excursion</li>
    <h2>Take a voyage out further into the solar system</h2>
    <li class = listElem>Extreme Ping Pong</li>
    <h2>Ping pong on the moon isn't your normal day with the paddles! The ball does move slower, but the table
      is the size of a football field.</h2>
  </ul>

  <video src = "{% static "video/moonbuggy.mp4" %}"
         width = "400" height = "300"
         preload = "auto"
         controls
         autoplay
         loop>
  </video>



</main>

<footer>
  <small>
    While this web site was created to satisfy the requirement of building a web site for an academic course at Regis
    University, the views and opinions expressed on this web site are solely those of the original author and do not
    necessarily represent the views and opinions of Regis University.
  </small>
</footer>

</body>



</html>
