<!DOCTYPE html>
<html lang="en">
<head>
<nav>
<ul>
      <li><a href = "index" class = "current">Home</a></li>
      <li><a href = "awards" >Awards</a></li>
      <li><a href = "activities" >Local Activites</a></li>
      <li><a href = "meals">Meals</a></li>
      <li><a href = "keynote">Keynote Speakers</a></li>
      <li><a href = "workshopschedule">Workshop Schedule</a></li>
      <li><a href = "registration">Registration Form</a></li>
      <li><a href="admin">ADMIN</a></li>
</ul>
</nav>
</head>
</html>