<html>

<head>
  <meta charset = "utf-8" />
  <meta name = "keywords"
        content = "conference, registration, preaching, seminar" />
  <meta name = "description"
        content = "The registration and informational website for a ministry conference" />
  <meta name = "author"
        content = " Spencer B. Newburn" />
  <meta name = "robots"
        content = "nofollow" />

  <title>Thank You Page</title>
  <link href="webdefault.css" rel="stylesheet" type="text/css"/>
</head>


<body>
<header>
  {% include "navigation.html" %}
</header>

<main>
  <h1> Thank You for Registering for the Conference</h1>
</main>

<footer>
  <small>
    While this web site was created to satisfy the requirement of building a web site for an academic course at Regis
    University, the views and opinions expressed on this web site are solely those of the original author and do not
    necessarily represent the views and opinions of Regis University.
  </small>
</footer>

</body>



</html>
